$small:   "max-width: 640px";
$smaller: "max-width: 375px";
$mouse:   "pointer: fine";

body.page-6bmk {
  #header-menu, #footer {
    display: none;
  }

  #screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #c19a6b;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #message-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 1;
    transition: opacity 1s;
    opacity: 0;

    &.visible {
      opacity: 1;
    }

    .message {
      display: none;
      border: 1px solid #000;
      background-color: #fff;
      padding: 0.5em 0.75em 0.5em 0.75em;
      margin: 0.5em 0.5em 1.5em 0.5em;
      max-width: 60vw;
      font-weight: bold;
      font-size: 1.4em;

      &.active {
        display: block;
      }

      &.button {
        border-radius: 0.5em;
        transition: background-color 0.5s, border-color 0.5s, color 0.5s;
        cursor: pointer;

        &.busy {
          background-color: #eee;
          border-color: #666;
          color: #666;
          cursor: wait;
        }
      }
      
      &.warning {
        background-color: #ff9;
      }

      &.error {
        background-color: #f99;
      }

      @media ($small) {
        font-size: inherit;
      }
    }
  }

  #error-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;

    #error {
      max-width: 70vw;
      margin: 1.5em 0.5em 0.5em 0.5em;
      color: #600;  
    }  
  }
   
  #typewriter {
    width: 90vw; 
    max-width: 600px;

    #paper-container {
      position: relative;
      overflow: visible;
      height: 80px;
    }

    #input {
      position: absolute;
      font-size: 18px;
      left: 0;
      padding: 8px 8px 8px 8px;
      border: 0;
      outline: none;
      resize: none;
      box-sizing: border-box;
      white-space: pre-wrap;
      font-family: "Courier New", "Liberation Mono", monospace;
      line-height: 1.2;

      @media ($small) {
        font-size: 12px;
      }

      @media ($smaller) {
        font-size: 10px;
      }
    }

    svg {
      overflow: visible;

      .key {
        @media ($mouse) {
          cursor: pointer;
        }
      }
    }

    &.animating  {
      svg {
        #roller {
          transition: transform 100ms linear;
        }
        .key {
          transition: transform 100ms linear;
        }
      }

      #input {
        caret-color: transparent;
      }
    }
  }
}
